body{
	background-color: #000000;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	padding: 10px;
	width: 100%;
}

#header{
	text-align: center;
	font-size: 32px;
	color: #00B7FF;
	display: inline-block;
	padding: 10px;
}	

#center{
	color: #fff;
	text-align: center;
	margin-right: 30px;
	margin-left: 30px;
	height: 100%;
}


#single{
	box-sizing: border-box;
	width: 100%;
	background: #333333;
}
#pic{
	box-sizing: border-box;
}
#pic img{
	width: 100%;
}
#text{
	box-sizing: border-box;
}

.clear{
	box-sizing: border-box;
	clear: both;
	height: 30px;
}


/* 画面の幅が769px以上(PC用) */
@media screen and (min-width: 640px){
	#pic{
		float: left;
		padding-left: 15px;
		padding-top: 30px;
		width: 50%;
	}
		#text{
		float: right;
		width: 45%;
		padding-right: 15px;
		padding-top: 20px;
	}
		.clear{
		clear: both;
		height: 30px;
	}
}


/* 画面の幅が640pxまで(スマホ用) */
@media screen and (max-width: 640px){
	#pic{
		padding: 30px 20px 0px;
	}
	#text{
		padding: 0px 20px;
	}
	.clear{
		height: 0px;		
	}
}